.container{
    margin-bottom: 50px;
}
.head{
    background-color: #F0FFF0;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    
}
.navbar-nav>li{
    padding-right: 20px;
    padding-left: 20px;
}
.learn{
    color: red;
}
.btn-success{
    border-radius: 25px;
    color:#FFFFFF;
    width: 120px;
    font-family: poppins;
}
#any{
    color: green;
}
.fun h2{
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}
.illustrution{
    padding-top: 50px;
    margin-bottom: 40px;
}
.books img{
    
        width: 80px;
        justify-content: center;
}
.books{
    align-items: center;
    display: inline-flexbox;
    padding-left: 90px;
    
}
#ic1 {
    background: #F8FFFB;
    border-radius: 10px;
    

}
#ic2 {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}
#ic3{
    background: #F8FFFB;
    border-radius: 10px;
   
}
#ic4{
    background: #F8FFFB;
    border-radius: 10px;   
}
#courses h3{
    text-align: center;
    font-weight: bold;
}
.align img{
    width: 30px;
    
}
.align{
    color:#585859;
    font-size: 15px;
    font-weight: bold;
}
.date{
    display: inline;
    vertical-align: middle;
}
#others h3{
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.pc img{
    width: 120px;
 
}
.pc p{
    text-align: justify;
    vertical-align: middle;
}
.other{
    padding-right: 130px;
    padding-left: 130px;
}
.card{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    }
    .last{
        background: #282531;
        
    }
    .last p{
        color: #FFFFFF;
    }
    .last h6{
        color: #FFFFFF;
        font-weight: bold;
    }
    footer{
        text-align: center;
        color: #FFFFFF;
    }
    .last-part{
        padding-left: 100px;
        padding-top: 30px;
        padding-bottom: 100px;
    
    }
    .align p{
        margin: 0px;
    }
    .align
    {
        margin-top: 40px;
    }
    